.home {
  height: 100%;
  padding: 1rem 2rem;
}

.home__countries {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2.5rem;
}

@media screen and (max-width: 650px) {
  .home__countries {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }
}
