.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: var(--light-mode-elements);
  border-bottom: 2px solid var(--light-mode-bg);
  color: var(--light-mode-text);
}

.header__left {
  margin-left: 2rem;
  font-weight: 800;
}

.header__right {
  display: flex;
  margin-right: 2rem;
  align-items: center;
  cursor: pointer;
}

.header__right__text {
  margin-left: 5px;
  font-weight: 600;
}
