.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.4em 0;
  height: fit-content;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  color: var(--light-mode-text);
}

.header__left {
  margin-left: 2rem;
  font-weight: 800;
  font-size: 1.5em;
  cursor: pointer;
}

.header__right {
  display: flex;
  margin-right: 2rem;
  align-items: center;
  cursor: pointer;
}

.header__right__text {
  margin-left: 5px;
  font-weight: 600;
}

@media (max-width: 390px) {
  .header__left {
    font-size: 1.1rem;
  }
}
